.grade_panel {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    border: none;
    border-radius: 18px;
    height: 400px;
    width: 400px;
    position: relative;
}

.grade_panel__title {
    font-family: 'Manrope', 'Arial', sans-serif;
    font-size: var(--font-size-h2-16);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-semibold);
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 24px;
    left: 24px;
}
