.filter_element {
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
    margin: 6px 0 0 0;
    padding: 0 0 0 4px;
}

.filter_element__title {
    font-family: 'Manrope', 'Arial', sans-serif;
    font-size: var(--font-size-medium-12);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-semibold);
    color: var(--dark-grey);
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.filter_element__container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0 0 0 6px;
    padding: 2px;
    max-height: 500px;
    width: 115px;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: var(--white-opacity);
    border-radius: 5px;
}

.filter_element__checkbox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 6px 0 0 0;
    padding: 0 0 0 4px;
}